@let contacts = paginatedContacts();
<button (click)="createContact()">Create new</button>

@if (loadingStatus() === 'fulfilled') {
    <ca-table
        [key]="'id'"
        [fields]="columns()"
        [values]="contacts"
        [totalRecords]="filteredContactList().length"
        [paginationOptions]="paginationOptions()"
        [sortOption]="sortOption()"
        [(searchString)]="searchString"
        (rowClick)="onRowClick($event)"
        (pageChange)="onPageChange($event)"
        (searchChange)="onSearchChange($event)"
        (sortChange)="onSortChange($event)"
        (delete)="onDelete($event)"
        (update)="onUpdate($event)">
    </ca-table>
}

<ca-loading-indicator [requestStatus]="loadingStatus()" />
