@let contact = selectedContact();

<form [formGroup]="contactForm" class="w-auto flex flex-col gap-8 justify-center bg-white p-8">
    <h2>
        @if (!contact) {
            Create
        } @else {
            Update
        } Contact
    </h2>
    
    <div class="flex flex-col gap-4">
        <label for="firstName">First name</label>
        <input  class="border rounded w-4/12 py-1 px-2 placeholder:text-gray-300 placeholder:italic" type="text" id="firstName" formControlName="firstName" placeholder="e.g. Richard" caFormFieldError>
    </div>
    <div class="flex flex-col gap-4">
        <label for="lastName">Last name</label>
        <input caFormFieldError class="border rounded w-4/12 py-1 px-2 placeholder:text-gray-300 placeholder:italic" type="text" id="lastName" formControlName="lastName" placeholder="e.g. Hendricks">
    </div>
    <ng-container formGroupName="phone">
        <div class="flex flex-col gap-4">
            <label for="number">Phone</label>
            <input caFormFieldError class="border rounded w-4/12 py-1 px-2 placeholder:text-gray-300 placeholder:italic" type="tel" id="number" formControlName="number" placeholder="e.g. 1-594-913-9901">
        </div>
        <div class="flex flex-col gap-4">
            <label for="extension">Extension</label>
            <input caFormFieldError class="border rounded w-4/12 py-1 px-2 placeholder:text-gray-300 placeholder:italic" type="tel" id="extension" formControlName="extension" placeholder="e.g. 2345">
        </div>
    </ng-container>
    
    <div class="flex flex-col gap-4">
        <label for="email">Email</label>
        <input caFormFieldError class="border rounded w-4/12 py-1 px-2 placeholder:text-gray-300 placeholder:italic" type="email" id="email" formControlName="email" placeholder="e.g. richard.hendricks@hooli.com">
    </div>
    <div class="flex flex-col gap-4">
        <label for="company">Company</label>
        <input caFormFieldError class="border rounded w-4/12 py-1 px-2 placeholder:text-gray-300 placeholder:italic" type="text" id="company" formControlName="company" placeholder="e.g. Hooli">
    </div>
    <div class="flex flex-col gap-4">
        <label for="jobTitle">Job Title</label>
        <input caFormFieldError class="border rounded w-4/12 py-1 px-2 placeholder:text-gray-300 placeholder:italic" type="text" id="jobTitle" formControlName="jobTitle" placeholder="e.g. Software Engineer">
    </div>
    <div class="flex flex-col gap-4">
        <label for="profilePicture">Profile picture</label>
        <input caFormFieldError class="border rounded w-1/2 py-1 px-2 placeholder:text-gray-300 placeholder:italic" type="text" id="profilePicture" formControlName="avatar" placeholder="e.g. http://www.hooli.com/images/richard.jpg">
        <ca-avatar [name]="contactName()" [imageUrl]="contactForm.get('avatar')?.value ?? ''"></ca-avatar>
    </div>

    <div class="flex flex-row-reverse gap-6"> {{contactForm.invalid}}
        <button class="border rounded bg-blue-300 px-2 py-1 cursor-auto" (click)="submit()">
            @if (!contact) {
                Create
            } @else {
                Update
            }
        </button>
        <button class="border rounded px-2 py-1 cursor-pointer" type="reset">Reset</button>
    </div>
</form>